<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 마이바티스 설정파일 type에 명시된 클래스를 함축이름으로 사용합니다. -->
<configuration>

	<properties>
		<property name="TABLE_USERINFO" value="userinfo"/>
		<property name="COL_USERID" value="userId"/>
		<property name="COL_USERPW" value="userPw"/>
		<property name="COL_USERNAME" value="userName"/>
		<property name="COL_USERPHONE" value="userPhone"/>
		<property name="COL_USEREMAIL" value="userEmail"/>
		<property name="COL_USERZIPCODE" value="userZipCode"/>
		<property name="COL_USERADDR" value="userAddr"/>
		<property name="COL_USESRADDRDETAIL" value="userAddrDetail"/>
		<property name="COL_USERBIRTH" value="userBirth"/>
		
		<property name="TABLE_CART" value="cart"/>
		<property name="COL_USERID" value="userId"/>
		<property name="COL_PRODUCT" value="product"/>
		<property name="COL_QUANTITY" value="quantity"/>
		<property name="COL_PRICE" value="price"/>
		<property name="COL_DELIVERYFEE" value="deliveryFee"/>
		<property name="COL_TOTALPRICE" value="totalPrice"/>
	</properties>
	
	
	<typeAliases>
		<typeAlias type="com.itwill.command.cartVO" alias="cartVO" />
		<typeAlias type="com.itwill.command.UserVO" alias="UserVO" />
		<typeAlias type="com.itwill.command.FileUploadVO"
			alias="FileUploadVO" />
	</typeAliases>
	
	
</configuration>
  	